basePath: /
definitions:
  entity.User:
    properties:
      createdAt:
        type: string
      id:
        type: integer
      nick_name:
        type: string
      updatedAt:
        type: string
      uuid:
        type: string
    type: object
  response.Response:
    properties:
      code:
        type: integer
      data: {}
      message:
        type: string
    type: object
host: localhost:8080
info:
  contact:
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server for a Go project template.
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT
  termsOfService: http://swagger.io/terms/
  title: Go Project Template API
  version: "1.0"
paths:
  /api/v1/user/query:
    get:
      consumes:
      - application/json
      description: Get user details including UUID and nickname
      parameters:
      - description: User ID
        in: query
        name: id
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            allOf:
            - $ref: '#/definitions/response.Response'
            - properties:
                data:
                  $ref: '#/definitions/entity.User'
              type: object
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/response.Response'
      summary: Query a user by ID
      tags:
      - User
schemes:
- http
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
